.control {
    max-width: 95%;
}
.field.is-grouped.is-grouped-multiline:last-child {
    margin-top: 15px;
}

.bulma-overlay-mixin {
    @include overlay(1.5rem);
    background-color: lightsalmon;
    border-radius: 0.25em;
    color: white;
    opacity: 0.9;
    padding: 1em;
  }